FRONTEND_URL=https://45.146.165.184.sslip.io
BACKEND_URL=https://45.146.165.184.sslip.io
YANDEX_REDIRECT_URI=https://45.146.165.184.sslip.io/login/oauth2/code/yandex
CHAT_JWT_SECRET=replace-with-long-random-secret

MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=your_login@yandex.ru
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_login@yandex.ru
MAIL_STARTTLS=false
MAIL_SSL=true
